$maincolor: #1e90ff;
$textcolor: white;
$mainpositioning: relative;
$mainfont: Arial, Helvetica, sans-serif;
$btnspacing: 5px;

TextArea {
    position: $mainpositioning;
    left: 11%;
}


TextArea {
    position: $mainpositioning;
    left: 11%;
}

form {
    margin-left: 200px;
    .form-group {
        input {
            width: 30%;
        }
        .btn {
            margin-top: -65px;
            margin-left: 355px;
        }
    }
}

.answer-choices {
    text-align: center;
    position: $mainpositioning;
    left: 30%;
}

.answer-type {
    padding-right: 120px;
    margin-top: 20px;
}

.container {
    .row {
        .col-sm {
            border: lightgray;
            border-width: 2px;
            border-style: solid;
            text-align: center;
            font-size: 18px;
        }
    }
}
  
.footer {
    margin-bottom: 0px;
    margin-top: 25px;
    position: relative;
    .container {
        #footer-text {
            position: relative;
            right: -700px;
            top: 60px;
            font-size: 10px;
            font-family: $mainfont;
        }
    }
}

.form-check {
    margin-left: $btnspacing;
    .form-check-input {
        margin-top: $btnspacing;
    }
    .form-check-label {
        margin-top: $btnspacing;
        .form-controll {
            margin-top: $btnspacing;
        }
    }
}
  
.header {
    .container {
        .button-pos {
            padding-top: 10px;
        }
        .display-4 {
            color: $textcolor;
        }
    }
}

.img-wrapper {
    float: left;
}
  
.jumbotron {
    background-color: $maincolor;
}

.main {
    margin-top: 350px;
}

.nav {
    background-color: $maincolor;
    .nav-item {
        .nav-link {
            color: $textcolor;
            margin-top: 10px;
        }
    }
    p {
        margin-left: 790px;
        margin-top: 10px;
        color: $textcolor;
        font-size: 24px;
        font-family: $mainfont;
    }
}

.new {
    margin-left: 200px;
    form {
        .form-group {
            .form-control {
                width: 40%;
            }
        }
    }
}

.option-container {
    margin-left: 150px;
    .btn {
        margin-top: 15px;
        margin-left: $btnspacing;
    }
    .btn-danger {
        margin-left: 5px;
    }
}

.question-container {
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
}

#add-img {
    position: $mainpositioning;
    left: 85%;
    bottom: 200px;

}

#delete-img {
    float: right;
    position: $mainpositioning;
    right: 10px;
}

#form-name {
    position: $mainpositioning;
    left: 10%;
    width: 80%;
    text-align: center;
    font-size: 24px;
}

#pls-select-ans {
    text-align: center;
}

#questionnaire-container {
    border: 2px solid black;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

#question-title {
    width: 80%;
    text-align: left;
    margin-top: 20px;
    position: $mainpositioning;
    left: 11%;
}

#return-img {
    float: right;
    position: $mainpositioning;
    right: 20px;
}

#submit-btn {
    position: $mainpositioning;
    left: 46%;
}

#textbox-img {
    padding-left: 10px;
    position: $mainpositioning;
    bottom: 8px;
}