/* Question module container */
.question-container {
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
}

/* Question textbox */
#question-title {
    width: 80%;
    text-align: left;
    margin-top: 20px;
    position: relative;
    left: 11%;
}

/* Question module body */
#pls-select-ans {
    text-align: center;
}
.answer-choices {
    text-align: center;
    position: relative;
    left: 30%;
}
.answer-type {
    padding-right: 120px;
    margin-top: 20px;
}
.img-wrapper {
    float: left;
}
#textbox-img {
    padding-left: 10px;
    position: relative;
    bottom: 8px;
}

/* Delete button */
#delete-img {
    float: right;
    position: relative;
    right: 10px;
}

/* Return button */
#return-img {
    float: right;
    position: relative;
    right: 20px;
}

TextArea {
    position: relative;
    left: 11%;
}

input {
    border-left:0 solid transparent;
    background: transparent;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: crosshair;
}

img, a {
    cursor: crosshair;
}

#question-title {
    font-weight: 600;
}