body {
    background-image: linear-gradient(rgb(98, 0, 255), rgb(88, 39, 20));
}

.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li {
    display: inline-block;
    margin-right: 50px;
    font-family: Open Sans, Arial;
    font-weight: 300;
    font-size: 4em;
    color: #fff;
    opacity: 1;
    transition: all 2.5s ease;
}
.fly-in-text li:last-child {
    margin-right: 0;
}
.fly-in-text.hidden li {
    opacity: 0;
}
.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }



.username {
  color: white;
}

.password {
  color: white;
}


/* submit up button */


.btn-primary {
	border-radius: 4px;
	cursor: pointer;
	border: 2px solid orangeRed;
	background: transparent;
	position: relative;
	padding: 0;
  
	color: #fff;
	/*For IE*/
  }
  .btn-primary > span {
	display: inline-block;
	padding: 8px 16px;
	background: linear-gradient(45deg, #fff 50%, orangeRed 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  .btn-primary:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
	z-index: -1;
  }
  
  .btn-primary > span,
  .btn-primary:after {
	background-size: 300%;
	background-position: 100%;
	transition: 1s, font-size 0.2s;
  }
  
  .btn-primary:hover > span,
  .btn-primary:hover:after {
	background-position: 0;
	font-size: 1.1em;
  
	color: orangeRed;
	/*For IE*/
  }


/* sign up button */
.button-primary {
	margin-top: 50px;
	
}


.button-primary {
	border-radius: 4px;
	cursor: pointer;
	border: 2px solid orangeRed;
	background: transparent;
	position: relative;
	padding: 0;
  
	color: #fff;
	/*For IE*/
  }
  .button-primary > span {
	display: inline-block;
	padding: 8px 16px;
	background: linear-gradient(45deg, #fff 50%, orangeRed 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  .button-primary:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
	z-index: -1;
  }
  
  .button-primary > span,
  .button-primary:after {
	background-size: 300%;
	background-position: 100%;
	transition: 1s, font-size 0.2s;
  }
  
  .button-primary:hover > span,
  .button-primary:hover:after {
	background-position: 0;
	font-size: 1.1em;
  
	color: orangeRed;
	/*For IE*/
  }